{% extends 'base.html.twig' %}

{% block title %}
    Agenda du club - {{ parent() }}
{% endblock %}


    {% block body %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Agenda du club</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for event in listEvents %}
                    <div class="col-lg-3">
                        {{ event.eventDate | date("d/m/Y") }}
                    </div>

                    <div class="col-lg-9">
                        <a href="{{ path('event.show', {'slug' : event.slug}) }}">{{ event.title }}</a><br/>
                    </div>
                {% endfor %}


                {% if listEvents is empty %}
                    <div class="alert alert-info" role="alert">
                        Aucun évènement n'est communiqué pour le moment. N'hésitez pas à consulter notre agenda ultérieurement.
                    </div>
                {% endif %}
            </div>
        </div>

    {% endblock %}
