{% extends 'base.html.twig' %}

{% block title %}
    Agenda du club - {{ parent() }}
{% endblock %}


    {% block body %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Agenda du club</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for event in listEvents %}
                    <div class="col-lg-3">
                        {{ event.eventDate | date("d/m/Y") }}
                    </div>

                    <div class="col-lg-9">
                        {{ event.title }}<br/>
                    </div>

                {% endfor %}
            </div>
        </div>

    {% endblock %}
