/** GLOBAL **/

img{
    max-width: 100%;
}



/** END GLOBAL **/





/* Page */
.jumbotron{
    height: 250px;
    text-align: center;
    vertical-align:middle;
    color: white;
    padding-top: 90px;
    background-color: #112F41;
}

/* Formulaire */
.btn-form{
    background-color: #112F41;
    color: white;
    width: 150px;
}



