/** GLOBAL **/

html{
    font-size: 100%;
    /*1rem = 16px*/
}

a{
    color: #4FB99F;
}

a:hover{
    color: #ED553B;
}

.nav-link{
    font-size: 0.9rem;
    color: #112F41;
}

.dropdown-item{
    font-size: 0.9rem;
}

.dropdown-item:hover{
    color: #ED553B;
}

body{
    font-family: "Comfortaa", Arial, serif;
}

b, strong{
    font-weight: 800;
    color: #ED553B;
}

blockquote{
    font-style: italic;
    font-size: 1rem;
    margin-left: 32px;
    border-left: 4px solid #CCC;
    padding-left: 8px;
    text-align: left;

}

img{
    max-width: 100%;
}

footer{
    padding-bottom: 2rem;
    font-size: 0.9rem;
    color: grey;
}

footer a{
    color: grey;
}

footer a:hover{
    color: #ED553B;
}

.icon-social-media{
    margin: 0.1rem;
}

.authentify{
    color: #068587;
}

.authentify a{
    color: #068587;
}

/** END GLOBAL **/


/** index **/

/* bandeau d'entête */
.img-homepage{
    background-image: url("/assets/img/tennis-club-teyran-accueil.jpg");
    background-size: cover;
    height: 25rem;
    background-position: 50% 25%;
}

.img-homepage h1{
    display: inline-flex;
    background-color: white;
    font-weight: bolder;
    color: #112F41;
    margin-top: 6rem;
    margin-left: 4rem;
    padding-top: 0.18rem;
    padding-bottom: 0.18rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 3rem;
}

@media screen and (max-width: 650px){
    .img-homepage h1{
        margin-left: 1rem !important;
        margin-top: 14rem;
        font-size: 3rem;

    }
}
/* end bandeau d'entête */

/* trois boutons raccourcis sur la homepage */
.bloc-raccourcis-homepage{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.raccourcis-homepage-item{
    padding-top: 0.9rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    border: solid 3px white;
    text-align: center;
    color:white;
    background-color: #068587;

}

.raccourcis-homepage-item h2{
    font-size: 1rem;
}

.raccourcis-homepage-item a{
    color: white;
}
/* end trois boutons raccourcis sur la homepage */

/*carrousel*/
.carousel{
    margin-bottom: 2rem;
    height: auto;
}
.carousel-caption{
    border-radius:10px;
    background-color: #ffffff;
    opacity: 0.75;
}

.carousel-caption h3{
    font-size: 1.8rem;
}

.carousel-caption a{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #112F41;
}

.carousel-indicators li{
    background-color: #112F41;
}

.carousel-indicators .active{
    background-color: #112F41;
}
/*end carousel */

/* widget agenda */
.widget-agenda h4{
    border-top: 3px solid #F2B134;
    color: #F2B134;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.list-events{
    padding-left: 1rem;
}

.list-events a{
    color: #112F41;
}

.events-date{
    color: #4FB99F;
}
/* end widget agenda */


/* Blocs liens utiles */
.blocs-liens-utiles a{
    color: #112F41;
}
/* end Blocs liens utiles */
/** END index **/


/*** VUES PAGE ***/

/** Page **/
/* En-tête de la page */
.jumbotron{
    height: 250px;
    text-align: center;
    vertical-align:middle;
    color: white;
    padding-top: 90px;
    background-color: #ED553B;
}

.page-subtitle h1{
    font-size: 3rem;
}
/* end En-tête de la page */

/* Corps de texte */
.page-body{
    margin-top: 3rem;
}

.page-title h2{
    font-size: 2rem;
}

.page-content{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.page-social-media{
    text-align: right;
    margin-top: 1.5rem;
}

.page-image img{
    border-radius: 8px;
    margin-top: 0.5rem;
}
/* End Corps de texte */

/* Widget */
.page-widget h3{
    border-top: 3px solid #F2B134;
    color: #F2B134;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-top: 3.2rem;
}

@media screen and (max-width: 991px){
    .page-widget h3{
        margin-top: 1rem;
    }
}
/* End widget */

/** End Page **/

/** Widget - MenuCategory **/
.list-pages a{
    color: #112F41;
}

.page-page-item{
    padding-bottom: 0.5rem;
}

.page-show.blocs-liens-utiles{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/** End Widget - MenuCategory **/

/** Forms**/
.inner-wrap{
    padding: 1.5rem;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 3rem;
}

.btn-form{
    background-color: #112F41;
    color: white;
    width: 150px;
}
/** End forms**/

/**Form Ecole de Tennis **/
.form-tennis-school{
    margin-top: 3rem;
}
.form-tennis-school h3{
    font-size: 1.4rem;
    color: #ED553B;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-tennis-school h4{
    font-size: 1.2rem;
    color: #068587;
    margin-bottom: 1rem;
}
/** End Form Ecole de tennis **/


/** Form Tennis Adult **/
.form-tennis-adult{
    margin-top: 3rem;
}
/** end form tennis adult **/

/** Form reservation **/
.form-reservation-court{
    margin-top: 2rem;
}
/** End form reservation **/

/** form contact **/
.form-contact-us{
    margin-top: 2rem;
}
/** end form contact **/

/*** END VUES PAGE ***/


/*** Page de catégories ***/
.pagecategory-subtitle h1{
    font-size: 3rem;
}

.list-pages{
    margin-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.list-pages h2{
    font-size: 1.2rem;
    color: #068587;
}

.list-pages a{
    color: #068587;
}
/*** End Page de catégorie ***/

/*** List Events ***/
.page-subtitle h1{
    font-size: 3rem;
}

thead{
    background-color: #F2B134;
    color: white;
}

.table thead th{
    border-bottom: 1px solid #F2B134;
}

.table thead tr th{
    font-size: 1.2rem;
}

.event-name a{
    color: #4FB99F;
}

@media (max-width: 700px) {
    .table{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .table thead {
        display: none;
    }

    .table tr{
        display: block;
        margin-bottom: 3rem;
    }
    .table td {
        display: block;
    }
    .table td:before {
        float: left;
        font-weight: bold;
    }

    .table td, .table th {
        padding: 0;
        vertical-align: top;
        border-top: 1px solid white;
    }
}
/*** End list events ***/

/*** Vue event ***/
.event-body{
    margin-top: 3rem;
}

.btn-event-date{
    background-color: #068587;
    color: white;
    text-align: left;
}

.event-content{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.event-title h2{
    font-size: 2rem;
}

.event-image img{
    border-radius: 8px;
    margin-top: 1rem;
}

.bloc-previous-next-event{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}


.previous-next-event-item{
    padding-top: 0.9rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    border: solid 3px white;
    text-align: center;
    color:white;
    background-color: #F2B134;
    font-size: 1rem;
}

.previous-next-event-item a{
    color: white;
}
/*** End vue event ***/



