{% extends 'base.html.twig' %}

    {% block title %}
        Accueil - {{ parent() }}
    {% endblock %}



    {% block body %}
        {% for message in app.flashes('alert') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}