{% extends 'base.html.twig' %}

{% block title %}
    Modifier mon mot de passe - {{ parent() }}
{% endblock %}

{% block body %}

    <!-- Image de Une -->
    <div class="container-fluid">
        <div class="img-homepage">
            <h1>Tennis club de Teyran</h1>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 form-password">

                <div class="alert alert-success">
                    <h2>Modifier mon mot de passe</h2>
                </div>

                <div class="inner-wrap">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.plainPassword) }}
                    <input type="submit" class="btn btn-form" value="Envoyez">
                    {{ form_end(form) }}
                </div>

{% endblock %}