{% if item.isPublished == true %}
    <a href="{{ path('page.show', {'slug' : item.slug}) }}">Voir la page en ligne</a><br/>
{% endif %}

{% if item.isPublished == false %}
    Page non visible en ligne.
{% endif %}

