<!DOCTYPE>
<html lang="fr">
<head>
    <title>Réservez un court de tennis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>

<table width="100%" style="margin:2.5rem;">
    <tr>
        <td>
            Vous venez de demander la modification de votre mot de passe sur l'espace d'administration du site du
            Tennis Club de Teyran.
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ url('resetPassword', { 'token' : reset.token }) }}">Cliquez ici pour saisir votre
                nouveau mot de passe.</a>
        </td>
    </tr>
</table>
</body>
</html>